extends layout

block content
  #releases
    h2 RELEASES
    -for (var id in items)
      -var item = items[id]
        div.release
          div.title 
            a(href='/releases/#{item._id}') #{item.title} | #{item.artist}
          div.description
            div.imgwrapper
              img(src='#{item.cover}')
            div.textwrapper 
              p #{item.description}
    


